body{
  background: radial-gradient(circle at top, #0f2027, #203a43, #2c5364);
  min-height:100vh;
  font-family: 'Segoe UI', sans-serif;
}

/*Login contenedor*/
.login-wrapper{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

}

/*Tarjeta*/
.login-card{
  width:400px;
  padding:40px;
  background:#0f172a;
  border-radius:14px;
  box-shadow:0 0 30px rgba(0,229,255,0.25);
}

/*Titulo*/
.login-title{
  text-align:center;
  color:#22d3ee;
  margin-bottom:30px;
}

/*FormLogin*/
.login-form{
  display:flex;
  flex-direction:column;
  gap:18px;
}

/*FormInput */
.form-group{
  display:flex;
  flex-direction:column;
  gap:6px;
}

.form-group label{
  color:#cbd5f5;
}

/*input*/
.login-input{
  padding:10px;
  background:#020617;
  border:1px solid #22d3ee;
  border-radius:6px;
  color:white;
}

/*Captcha*/
.captcha-container{
  display:flex;
  justify-content:center;
}

/*Botn*/
.login-button{
  margin-top:10px;
  padding:12px;
  background:#06b6d4;
  border:none;
  border-radius:8px;
  color:white;
  font-weight:600;
  cursor:pointer;
}

.login-button:hover{
  background:#0891b2;
  box-shadow:0 0 12px #22d3ee;
}

/*HomePage*/
.home-wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:70vh;
  padding:40px 20px;
}

.home-card{
  background:rgba(15,23,42,0.9);
  padding:40px;
  border-radius:14px;
  text-align:center;
  max-width:500px;
  width:100%;
  box-shadow:0 0 25px rgba(0,229,255,0.15);
}

.home-title{
  color:#00e5ff;
  font-size:32px;
  margin-bottom:15px;
}

.home-text{
  color:#cbd5e1;
  margin-bottom:25px;
}

.home-button{
  display:inline-block;
  padding:12px 25px;
  background:#06b6d4;
  border-radius:8px;
  color:white;
  text-decoration:none;
  font-weight:600;
}

.home-button:hover{
  background:#0891b2;
  box-shadow:0 0 10px #00e5ff;
}

/*Characters Page*/
.characters-card{
  background: rgba(15,23,42,0.85);
  padding:30px;
  border-radius:12px;
  backdrop-filter: blur(8px);
  box-shadow:0 0 25px rgba(0,229,255,0.15);
}

.characters-title{
  color:#00e5ff;
  text-shadow:0 0 8px #00e5ff;
  margin-bottom:25px;
  font-weight:600;
}

.characters-table{
  border-radius:10px;
  overflow:hidden;
}

.character-link{
  color:#00ffff;
  text-decoration:none;
  font-weight:500;
}

.character-link:hover{
  color:#38bdf8;
  text-shadow:0 0 5px #00e5ff;
}

.characters-table img{
  border-radius:6px;
  box-shadow:0 0 6px rgba(0,229,255,0.6);
}

.characters-wrapper{
  display:flex;
  justify-content:center;
  padding:60px 20px;

}

.characters-card{
  width:100%;
  max-width:1000px;
  background:rgba(15,23,42,0.9);
  padding:35px;
  border-radius:14px;
  box-shadow:0 0 25px rgba(0,229,255,0.15);
}

.characters-title{
  color:#00e5ff;
  font-weight:700;
  text-shadow:0 0 8px #00e5ff;
  margin-bottom:30px;
}

/*tabla characters*/
.characters-table{
  width:100%;
  border-collapse:collapse;
}

.characters-table th{
  text-align:left;
  padding:12px;
  color:#94a3b8;
}

.characters-table td{
  padding:14px;
  border-top:1px solid rgba(148,163,184,0.15);
  color:#e2e8f0;
}

.characters-table tr:hover{
  background:rgba(148,163,184,0.05);
}

/*imagen*/
.character-thumb{
  width:60px;
  border-radius:8px;
  box-shadow:0 0 8px rgba(0,229,255,0.5);
}

/*Link*/
.character-link{
  color:#00e5ff;
  font-weight:500;
}

.character-link:hover{
  color:#38bdf8;
  text-shadow:0 0 5px #00e5ff;
}

/*Character detail page*/
.character-card{
  background: rgba(15,23,42,0.9);
  padding:40px;
  border-radius:12px;
  text-align:center;
  backdrop-filter: blur(8px);
  box-shadow:0 0 25px rgba(0,229,255,0.15);
}

.character-title{
  color:#00e5ff;
  text-shadow:0 0 8px #00e5ff;
  margin-bottom:25px;

}

.character-image{
  width:220px;
  border-radius:10px;
  margin-bottom:25px;
  box-shadow:0 0 15px rgba(0,229,255,0.4);
}

.character-stats{
  color:#cbd5e1;
  font-size:18px;
  margin-bottom:20px;
}

.btn-back{
  background:#00e5ff;
  border:none;
  padding:10px 20px;
  border-radius:8px;
  color:#0f172a;
  font-weight:600;
  cursor:pointer;
}

.btn-back:hover{
  background:#22d3ee;
}

.character-thumb{
  border-radius:6px;
  box-shadow:0 0 6px rgba(0,229,255,0.5);
  transition: transform 0.2s;
}

.character-thumb:hover{
  transform: scale(1.1);
}

/* CONTENEDOR GENERAL */
.detail-wrapper{
  display:flex;
  justify-content:center;
  padding:60px 20px;
}

/* CARD */
.detail-card{
  width:100%;
  max-width:600px;
  background:rgba(15,23,42,0.95);
  padding:40px;
  border-radius:14px;
  text-align:center;
  box-shadow:0 0 25px rgba(0,229,255,0.15);
}

/* TITULO */
.detail-title{
  color:#00e5ff;
  font-weight:700;
  text-shadow:0 0 10px #00e5ff;
  margin-bottom:30px;
}

/* IMAGEN */
.detail-image{
  width:250px;
  border-radius:12px;
  margin-bottom:30px;
  box-shadow:0 0 15px rgba(0,229,255,0.6);
}

/* STATS */

.stats-box{
  background:rgba(2,6,23,0.7);
  padding:20px;
  border-radius:10px;
  margin-bottom:30px;
}

.stat-row{
  display:flex;
  justify-content:space-between;
  padding:10px 0;
  border-bottom:1px solid rgba(148,163,184,0.15);
  color:#e2e8f0;
}

.stat-row:last-child{
  border-bottom:none;
}

/* BOTON VOLVER */
.back-button{
  display:inline-block;
  padding:10px 20px;
  background:#06b6d4;
  color:white;
  border-radius:8px;
  text-decoration:none;
  font-weight:500;
}

.back-button:hover{
  background:#0891b2;
  box-shadow:0 0 10px #00e5ff;
}

.logout-button{
  background:#06b6d4;
  color:white;
  border:none;
  padding:8px 16px;
  border-radius:8px;
  cursor:pointer;
  font-weight:500;
}

.logout-button:hover{
  background:#0891b2;
  box-shadow:0 0 8px #00e5ff;
}

/*Footer*/
.app-footer{
  width:100%;
  margin-top:40px;
  padding:18px 30px;
  background:#020617;
  border-top:1px solid rgba(148,163,184,0.2);
}

/*footer-contenido*/
.footer-content{
  max-width:1100px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  gap:10px;
  color:#cbd5f5;
  font-size:14px;
}

/*Link-footer*/
.footer-link{
  color:#22d3ee;
  text-decoration:none;
  font-weight:500;
}

.footer-link:hover{
  text-shadow:0 0 6px #22d3ee;
}